In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gill\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\gill\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gill\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gill\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\gill\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import numpy
import pandas

In [3]:
lst = [1,2,3,4,5]

In [4]:
numpy.array(lst)

array([1, 2, 3, 4, 5])

In [5]:
pandas.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
[lst,lst,lst]

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [8]:
pandas.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [9]:
pandas.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [13]:
pandas.DataFrame([lst,lst,lst], columns = ['A', 'B', 'C', 'D','E'])

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [14]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 3C49-8872

 Directory of C:\Users\Gill\Desktop\Untitled Folder

20-01-2024  16:08    <DIR>          .
19-01-2024  21:37    <DIR>          ..
19-01-2024  21:38    <DIR>          .ipynb_checkpoints
20-01-2024  16:08             7,361 Pandas intro.ipynb
               1 File(s)          7,361 bytes
               3 Dir(s)  103,513,579,520 bytes free

indexing can be done in series but not in dataframe